/* https://unsplash.com/photos/KGzXJB6zneM Ivana Cajina */
/* https://unsplash.com/@pankajpatel CSS PHOTO */

:root {
    --dark-extra-color: #111111;
    --dark-color: #222222;
    --light-color: #e6e6e6;
    --accent-color: rgb(200,40,120);
    --ff-primary: 'Raleway', sans-serif;
    --ff-title: 'Domine', serif;
    --ff-trial : 'Lato', sans-serif;
    -webkit-font-smoothing:antialiased;

}

*,
*::before,
*::after {
    line-height: 1.5em;
    margin: 0;

}

body {
    height: 100%;
    background: whitesmoke;
}

p {
    font-size: 1.2rem;
    text-align: justify;
}


h1,
h2,
h3,
p
 {
    font-family: var(--ff-primary);
    color: var(--dark-color);
    font-weight: 400;
}

h1 {
    font-family: var(--ff-trial);
    font-size: 3.5rem;
}

h2 {
    font-family: var(--ff-trial);
    font-size: 1.8rem;
    font-weight: 500;
}

header {
    background-color:rgb(209, 209, 209);
}

.accent-color {
    color: var(--accent-color);
}

.photo-credit,
.photo-credit a {
    font-size: 1em;
    margin-bottom: 200px;
    color: var(--light-color);
    background-color: var(--dark-color);
    opacity: 0.9;
    border-radius: 4px;
    padding: 0.5rem;
}

header h1 {
    padding: 3rem 4rem;
    text-align: left;
    color: rgb(17, 17, 17);
}

nav {
    background-color: rgb(209,209,209);
    height: 4rem;
    border-bottom: 2px solid var(--dark-color);
}

nav>* {
    float: top left;
    list-style: none;
    color: var(--light-color);
    font-family: var(--ff-primary);
}

li * {
    float: left;
    margin: auto 2.5rem;
    padding: 1rem;
}

li a {
    list-style: none;
    text-decoration: none;
    color: var(--dark-color);
}

img {
    height: 16vh;
    width: auto;
    box-shadow: -2px 2px 5px 0px #444444;
}

a:hover {
    transform: scale(1.0);
    color: var(--accent-color);
    cursor: pointer;
}

main {
    overflow: hidden;
    width: 90%;
    max-width: 100rem;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    padding: 1.6rem;
    margin-bottom: 8rem;

}

/* About me section */
.about-me {
    flex: 1;
}

.about-me>* {
    margin: 1rem;
    line-height: 2rem;
}

.about-me img {
    width: 90%;
    height: auto;
    border-radius: 4px;
}

.click-article {
    text-decoration: none;
}

article {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
}

.column-article-box article:hover {
    cursor: pointer;
    background-color: rgb(226, 226, 226);
}


.content-container {
    flex: 2;
    display: flex;
    height: 100vh;

}

.column-article-box {
    display: flex;
    flex-direction: column;

}


.column-article-box * {
    margin: 0 0.5rem;
}


footer {
    margin-top: 200px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--dark-color);
    height: 5rem;
}

footer p {
    flex: 9;
    display: flex;
    align-self: center;
    margin-left: 45%;
    font-size: 0.8rem;
    color: var(--light-color);
    height: 4%;

}

footer a {
    flex: 1;
    align-self: center;
    width: auto;
    opacity: 0.9;
    color: var(--light-color);
    justify-content: center;
}

i:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: var(--accent-color);
    opacity: 1;

}

/* Blog Post Specific: */

.blog-article article {
    display: inline;
}

section {
    margin-bottom: 10rem;
}

.blog-container {
    display: flex;
    width: 100%;
    justify-content: center;

}

.blog-article {
    width: 80%;
    margin: 0;
}

.blog-article img {
    width: 40vw;
    height: auto;
}

.blog-title {
    font-size: 3rem;
    text-align: left;
}

.blog-subtitle {
    font-size: 2rem;
    text-align: left;
}

.blog-article p {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;
}

.code, .code p {
    background-color: black;
    color: var(--accent-color);
    border-radius: 8px;
    padding: 0.5rem;
}


td,
th {
    border: 1px solid black;
    font-family: var(--ff-primary);
    text-align: left;
    padding: 0.5rem;
}

.picture-description {
    font-size: 0.9rem !important;
    font-weight: 500 !important;
    margin-bottom: 20px;
    padding: 1.5rem;
    background-color: rgb(226, 225, 225);

}

.box-model {
    height: 10rem !important;
    width: auto !important;
}


.border-example1 {
    display: inline;
    border-bottom: 3px solid black;
    background-color: whitesmoke;
}

.border-example2 {
    display: inline;
    border: 2px dotted lightcoral;
    background-color: whitesmoke;
}


@media screen and (max-width: 800px) {

    header {
        max-height: 500px;
        background-size: stretch;
        background-position: bottom;
        min-width: 100%;
    }

    .header-title {
        font-size: 3rem;
    }

    

    main {
        flex-direction: column;
        flex: 1;
        margin-bottom: 0rem;
    }

    main * {
        flex: 1;
        margin-bottom: 2rem;
        width: 95%;
    }

    .about-me {
        order: 2;
        margin-bottom: 2rem;
    }

    .about-me>* {
        margin: 0rem;
        line-height: 2rem;
    }

    article {
        position: relative;
        display: unset;
    }

    .column-article-box article {
        flex-direction: column;
        align-items: center;
    }


    .column-article-box * {
        margin: 0 0rem;
    }

    img {
        height: 10rem;
        width: auto;
    }

    footer {
        min-height: 6rem;
        position: relative;
    }

    footer i {
        margin: 1rem;
    }

    footer p {
        margin: 1rem;
        font-size: 0.8rem;
    }
}