

main {
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: row-reverse;
}

.about-me {
    flex: 1;
}

.content-container {
    flex: 2;
    background-color: aliceblue;
}



